.git
**/.git
**/.github

.idea
cmake-build-debug
**/*.swp
**/*.user

sgx_data
**/*.o
**/*.a
**/*.so
**/*.lo
**/build/
**/.libs/
**/CMakeFiles/
**/cmake-build*/
**/autom4te.cache/
.deps
secure_enclave/.deps
autom4te.cache

# Autotools
config.log
config.status

# Ignore all inside deps/ except pre_downloaded
libBLS/deps/*
!libBLS/deps/pre_downloaded/
!libBLS/deps/pre_downloaded/**

linux-sgx/build/
linux-sgx/docker/build/

gmp-build
tgmp-build
sgx-sdk-build
