[submodule "libBLS"]
	path = libBLS
	url = https://github.com/skalenetwork/libBLS.git
[submodule "sgx-gmp"]
	path = sgx-gmp
	url = https://github.com/intel/sgx-gmp.git
[submodule "intel-sgx-ssl"]
	path = intel-sgx-ssl
	url = https://github.com/intel/intel-sgx-ssl
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb.git
[submodule "linux-sgx-driver"]
	path = linux-sgx-driver
	url = https://github.com/intel/linux-sgx-driver.git
[submodule "sgx-software-enable"]
	path = sgx-software-enable
	url = https://github.com/intel/sgx-software-enable
[submodule "libzmq"]
	path = libzmq
	url = https://github.com/zeromq/libzmq.git
