[submodule "libff"]
	path = libff
	url = https://github.com/skalenetwork/libff.git
[submodule "libBLS"]
	path = libBLS
	url = https://github.com/skalenetwork/libBLS.git
[submodule "sgx-gmp"]
	path = sgx-gmp
	url = https://github.com/intel/sgx-gmp.git
