# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
gmp-build
tgmp-build
install-sh
/config.log
/config.status
/Makefile.in
/Makefile
/EnclaveGmpTest_u.h
/EnclaveGmpTest_u.c
/EnclaveGmpTest.edl
/am--include-marker
