[ ca ]
        default_ca             = CA_CLIENT       # При подписи сертификатов
        # использовать секцию CA_CLIENT
        
        [ CA_CLIENT ]
        dir                    = .            # Каталог для служебных файлов
        certs                  = $dir/certs      # Каталог для сертификатов
        new_certs_dir          = $dir/new_certs   # Каталог для новых сертификатов

        database               = $dir/index.txt  # Файл с базой данных
        # подписанных сертификатов
        serial                 = $dir/serial     # Файл содержащий серийный номер
        RANDFILE               = $dir/.rnd
        # сертификата
        # (в шестнадцатиричном формате)
        certificate            = ./rootCA.pem        # Файл сертификата CA
        private_key            = ./rootCA.key        # Файл закрытого ключа CA

        default_days           = 3650             # Срок действия подписываемого
        # сертификата
        default_crl_days       = 7               # Срок действия CRL (см. $4)
        default_md             = sha256             # Алгоритм подписи

        name_opt               = ca_default
        cert_opt               = ca_default
        policy                 = policy_anything # Название секции с описанием
        # политики в отношении данных
        # сертификата

        [ policy_anything ]
        countryName            = optional        # Код страны - не обязателен
        stateOrProvinceName    = optional        # ......
        localityName           = optional        # ......
        organizationName       = optional        # ......
        organizationalUnitName = optional        # ......
        commonName             = supplied        # ...... - обязателен
        emailAddress           = optional        # ......
