[ ca ]
        default_ca             = CA_CLIENT       #Cert signing uses CA_CLIENT

        
        [ CA_CLIENT ]
        dir                    = .            # Files folder
        certs                  = $dir/certs      # Cert folder
        new_certs_dir          = ../sgx_data/cert_data/new_certs   # New cert folder

        database               = ../sgx_data/cert_data/index.txt  # DB folder
        # подписанных сертификатов
        serial                 = ../sgx_data/cert_data/serial     # Serial ID folder
        RANDFILE               = $dir/.rnd

        certificate            = ../sgx_data/cert_data/rootCA.pem        # Hex cert
        private_key            = ../sgx_data/cert_data/rootCA.key        # Private key

        default_days           = 3650             # Cert validity length
        # сертификата
        default_crl_days       = 7               # Cert revocation list validity length
        default_md             = sha256             # Signing hash

        name_opt               = ca_default
        cert_opt               = ca_default
        policy                 = policy_anything # Cert Policy


        [ policy_anything ]
        countryName            = optional        # Country code (optional)
        stateOrProvinceName    = optional        # ......
        localityName           = optional        # ......
        organizationName       = optional        # ......
        organizationalUnitName = optional        # ......
        commonName             = supplied        # ...... - common name - required
        emailAddress           = optional        # ......
